---
layout: default
---
<div class="row">
  <div id="myArticle" class="col-sm-9">
    <div class="post-area post">
      <header>
        <h1>{{ page.title }}</h1>
        <p>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
      </header>
      <hr>
      <article>
        {{content}}
      </article>
      <hr>
      <div class="fb-foot-area" style="width:104px;height:24px">
        <div class="fb-like" data-href="http://totuworld.github.io{{ page.url }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
      </div>
    </div>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <script>
    function addLineNumber() {
      var pre = document.getElementsByTagName('pre'),
          pl = pre.length;
      for (var i = 0; i < pl; i++) {

        var isLanguage = pre[i].children[0].className.indexOf('language-');
        if ( isLanguage === 0 ) {
                var button           = document.createElement('button');
                        button.className = 'copy-button';
                        button.textContent = 'Copy';
    
                        pre[i].appendChild(button);
        }

        // Run Clipboard

        var copyCode = new Clipboard('.copy-button', {
          target: function (trigger) {
            return trigger.previousElementSibling;
          }
        });

        // On success:
        // - Change the "Copy" text to "Copied".
        // - Swap it to "Copy" in 2s.
        // - Lead user to the "contenteditable" area with Velocity scroll.

        copyCode.on('success', function (event) {
          event.clearSelection();
          event.trigger.textContent = 'Copied';
          window.setTimeout(function () {
            event.trigger.textContent = 'Copy';
          }, 2000);

          $.Velocity(pasteContent, 'scroll', {
            duration: 1000
          });
        });

        // On error (Safari):
        // - Change the  "Press Ctrl+C to copy"
        // - Swap it to "Copy" in 2s.

        copyCode.on('error', function (event) {
          event.trigger.textContent = 'Press "Ctrl + C" to copy';
          window.setTimeout(function () {
            event.trigger.textContent = 'Copy';
          }, 5000);
        });

          pre[i].innerHTML = '<span class="line-number"></span>' + pre[i].innerHTML + '<span class="cl"></span>';
          var num = pre[i].innerHTML.split(/\n/).length;
          if(num <= 5) {
            continue;
          }
          for (var j = 0; j < num; j++) {
              var line_num = pre[i].getElementsByTagName('span')[0];
              line_num.innerHTML += '<span>' + (j + 1) + '</span>';
          }
      }
    }
    
    $(document).ready(function() {

      addLineNumber();
      hljs.initHighlightingOnLoad();
      $('pre code').each(function(i, block) {
        hljs.highlightBlock(block);
      });
    });
    </script>
    
  </div>
  <div id="content" class="col-sm-3">
    <!-- <div id="myAffix" class="shadow-bottom-center hidden-xs" data-spy="affix" data-offset-top="0" data-offset-bottom="-20"> -->
    <div id="myAffix" class="shadow-bottom-center hidden-xs" >
      <div class="categories-list-header">
        Content
      </div>
      <div class="content-text"></div>
    </div>
  </div>
</div>
</div>